<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="FishPig_CspReport::violations"
             title="CSP Violations"
             module="FishPig_CspReport"
             sortOrder="999"
             resource="FishPig_CspReport::violations"
             parent="Magento_Backend::system"
             action="fishpig_cspreport/violation/index"/>
    </menu>
</config>
